@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  color: #fff;
}

/* NAVBAR */
.navbar-dark {
  background: #000;
  color: #fff;
}

/* MAIN */
.main {
  background-image: url(backgrounds/one.jpg);
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 100vh;
  color: #fff;
  position: relative;
  z-index: 1;
}

.main::after {
  content: "";
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
}

/* HEADER */
.header {
  margin: 20px;
  text-align: center;
  height: 100vh;
}
.header h1 {
  font-family: "Amatic SC", cursive;
  font-size: 6rem;
  font-weight: 700;
}

/* REGISTER-BTN */
.header .register-btn {
  display: inline-block;
  background: transparent;
  color: #fff;
  padding: 20px 30px;
  margin-bottom: 200px;
  border-radius: 40px;
  transition: background 0.5s;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid red;
}

.header .register-btn:hover {
  background: #c51111;
}

.about {
  height: 100%;
  width: 100%;
  border: 1px black solid;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.header {
  margin-bottom: 70px;
}

.about h1 {
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  font-weight: 300;
  padding: 10px;
}

.about p {
  padding: 10px;
}

.footer {
  background: #000;
  margin: 50px auto 0px auto;

  padding: 20px 0px 20px 0px;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #c51111;
}
footer i:hover {
  color: #c51111;
}

footer h5,
p {
  margin: 16px;
}

/* .among-us {
  background-image: url(/backgrounds/two.jpg);
  background-position: center;
  background-size: cover;
} */
